modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 40897103
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd SmartScaleAI/SmartScaleAI"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
